.git
.gitignore
**/.vs
**/.vscode
**/*.user
**/*.suo

**/bin/
**/obj/

TestResults/
**/TestResults/
coverage/
**/coverage/

docker/
docker-compose.yml
docker-compose.override.yml


docs/
postman/
README.md