services:
  api:
    image: fitness-api:dev
    container_name: fitness_backend_api
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
    networks:
      - fitness-network
    restart: unless-stopped

networks:
  fitness-network:
    driver: bridge